.card-header{
	background-color: transparent;
	border-bottom: 0px;
}

.card-footer{
	background-color: transparent;
	border-top: 0px;
}

.colorCommon{
	background-color:#10c694;
	color:white;
}

.description{
	max-height:400px;
	overflow-y:auto;
	padding:8px;
}

.fa{
	font-size: 1.2em;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.dropup:hover .dropdown-menu{
    display: block;
    margin-top: 0;
}    