<div class="main__editorial-video">

    <div class="main__editorial-video-container">
      <video poster="//dklgc3xuvi2vs.cloudfront.net/assets/for-creators/creator.676671d5.png" autoplay="autoplay" muted="muted" loop="loop" width="320" height="240">
        <source src="//dklgc3xuvi2vs.cloudfront.net/assets/videos/creator.a284143b.mp4" type="video/mp4">
        <source src="//dklgc3xuvi2vs.cloudfront.net/assets/videos/creator.d4f97852.ogg" type="video/ogg">
        <source src="//dklgc3xuvi2vs.cloudfront.net/assets/videos/creator.58df7cdb.webm" type="video/webm">
      </video>
    </div>
    <div class="main__editorial-video-hero">
      <div class="main__editorial-video-intro">Welcome to PikReview</div>
      <h1 class="main__editorial-video-title">PikReview is a community of creators sharing the products they swear by.</h1>
      <div class="main__editorial-video-actions">
        <button class="main__editorial-video-action primary" routerLink="/login">
          Create a PikReview
        </button>
        <button ui-sref="forCreators" class="main__editorial-video-action secondary" routerLink="/about">
          What is Pikreview?
        </button>
      </div>
    </div>

  </div>

<main style="padding:2% 48%;" *ngIf="loader">
  <div class="loader"></div>
</main>
  <nav class="navbar navbar-expand-md bg-light navbar-light navcat" *ngIf="!loader">
  <ul class="navbar-nav horizontalNav">
    <li class="nav-item pl-2 pr-2 dropdown" *ngFor="let cat of categories">
      <a class="nav-link" routerLink="/cat-single/{{cat.id}}" data-toggle="dropdown">{{cat.text}}
         </a>
            <ul class="dropdown-menu" style="top:0px;" *ngIf="cat.children.length!=0">
               <li *ngFor="let child of cat.children" class="dropdown-item">
                <a routerLink="/cat-single/{{child.id}}" class="text-dark">{{child.text}}</a>
                <div class="dropdown">
                  <ul class="dropdown-menu" style="top:0px;" *ngIf="child.children.length!=0">
                   <li *ngFor="let subchild of child.children" class="dropdown-item">
                   <a routerLink="/cat-single/{{subchild.id}}" class="text-dark">{{subchild.text}}</a>
                   </li>
                 </ul>
               </div>
               </li>
            </ul>
          </li>        
      </ul>
</nav>

<div class="row p-4" *ngIf="!loader">
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngFor="let post of posts | paginate: {itemsPerPage:12,currentPage: p}" style="margin-top:2%;">
<div class="card text-center p-0 rounded-0">
  <div class="card-header text-left">
      <div>
      <img src="http://www.pikreview.com{{post.review_img}}" alt="" class="rounded-circle float-left mr-3" style="height:50px;width:50px;">
      <span class="lead small">@{{post.review_by.name}}</span>
      </div>
      <div> 
    <h5 class="card-title" style="text-transform:capitalize;font-weight:600;cursor:pointer;" (click)=post_detail(post.postId)>   
    {{post.title}}
    </h5>
    </div>
  </div>
  <div class="card-body p-0">
    <img class="card-img-bottom" src="http://www.pikreview.com{{post.imageURL}}" alt="" style="height:300px;cursor:pointer;" (click)=post_detail(post.postId)>
    <p class="card-text p-4">{{post.description.substring(0,200)}}</p>
  </div>
  <div class="card-footer text-muted">
    <span class="float-left"><i class="fa fa-eye"></i> {{post.views}}</span>
      <span class="float-right">
             <!--  <a href="{{post.additionalLinks.BLOG}}" target="_blank"><i class="fa fa-rss p-1" style="color:#ff6600;"></i></a>
              <a href="{{post.additionalLinks.FB}}" target="_blank"><i class="fa fa-facebook p-1" style="color:#3B5998;"></i></a>
              <a href="{{post.additionalLinks.IG}}" target="_blank"><i class="fa fa-instagram p-1" style="color:#f40083;"></i></a>
              <a href="{{post.additionalLinks.PIN}}" target="_blank"><i class="fa fa-pinterest p-1" style="color:#cb2027;"></i></a>
              <a href="{{post.additionalLinks.YT}}" target="_blank"><i class="fa fa-youtube p-1"
              style="color:#bb0000;"></i></a> -->
              <div class="dropup">
              <a data-toggle="dropdown"><i class="fa fa-share"> Share</i></a>
              <ul class="dropdown-menu">
               <li class="dropdown-item">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{post.additionalLinks.BLOG}}" class="btn" style="background-color:#3B5998;color:white;" target="_blank"><i class="fa fa-facebook" style="color:white;"></i> Facebook</a>
               </li>
               <li class="dropdown-item">
                <a href="https://twitter.com/intent/tweet?text={{post.title}} :%0A{{post.description}}" class="btn" style="background-color:#55ACEE;color:white;" target="_blank">
                  <i class="fa fa-twitter" style="color:white;"></i> Twitter</a>
               </li>
               <li class="dropdown-item">
               <a href="//pinterest.com/pin/create/link/?url={{post.additionalLinks.BLOG}}
               &media=http://www.pikreview.com{{post.review_img}}&description={{post.description}}" class="btn" style="background-color:#cb2027;color:white;" target="_blank">
                  <i class="fa fa-pinterest" style="color:white;"></i> Pinterest</a>
               </li>
              </ul>
              </div>
              </span>
  <div style="clear:both;" class="p-0 pt-4">
            <a href="" class="btn colorCommon btn-block" target="_blank" href="https://pikreview.com{{post.landingUrl}}">Buy Now</a>
  </div>
  </div>
</div>
</div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="example">
  <div class="modal-dialog" role="document" style="max-width:60%;">
    <div class="modal-content">
         <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <h3 style="font-weight:600;margin-bottom:4%;">{{data.title}}</h3>
            <div id="demo" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
  <div class="carousel-item" *ngFor="let img of images let i = index" [ngClass]="{'active' : i == 0}">
      <img src="http://pikreview.com{{img.pikUrl}}" alt="" style="width:100%;height:345px;">
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span><i class="fa fa-angle-left fa-2x" style="font-size:2em;"></i></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span><i class="fa fa-angle-right" style="font-size:2em;"></i></span>
  </a>
</div>

             <div class="pt-4">
              <span class="float-left"><i class="fa fa-eye"></i> {{data.view_count}}</span>
              <span class="float-right">
              <a href="{{data.blog}}" target="_blank"><i class="fa fa-rss p-1" style="color:#ff6600;"></i></a>
              <a href="{{data.fb}}" target="_blank"><i class="fa fa-facebook p-1" style="color:#3B5998;"></i></a>
              <a href="{{data.ig}}" target="_blank"><i class="fa fa-instagram p-1" style="color:#f40083;"></i></a>
              <a href="{{data.pin}}" target="_blank"><i class="fa fa-pinterest p-1" style="color:#cb2027;"></i></a>
              <a href="{{data.yt}}" target="_blank"><i class="fa fa-youtube p-1" style="color:#bb0000;"></i></a>
              </span>
            </div>
            <div style="clear:both;" class="p-0 pt-3">
              <div class="dropup pb-3">
              <a data-toggle="dropdown"><i class="fa fa-share"> Share</i></a>
              <ul class="dropdown-menu">
               <li class="dropdown-item">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{data.BLOG}}" class="btn" style="background-color:#3B5998;color:white;" target="_blank"><i class="fa fa-facebook" style="color:white;"></i> Facebook</a>
               </li>
               <li class="dropdown-item">
                <a href="https://twitter.com/intent/tweet?text={{data.title}} :%0A{{data.description}}" class="btn" style="background-color:#55ACEE;color:white;" target="_blank">
                  <i class="fa fa-twitter" style="color:white;"></i> Twitter</a>
               </li>
               <li class="dropdown-item">
               <a href="//pinterest.com/pin/create/link/?url={{data.BLOG}}
               &media=http://www.pikreview.com{{data.review_img}}&description={{data.description}}" class="btn" style="background-color:#cb2027;color:white;" target="_blank">
                  <i class="fa fa-pinterest" style="color:white;"></i> Pinterest</a>
               </li>
            </ul>
              </div>
            <a href="" class="btn colorCommon btn-block" target="_blank" href="https://pikreview.com{{data.landingUrl}}">Buy Now</a>
          </div>
          </div>
          <div class="col-md-6" *ngIf="modalShow">
            <div class="pb-5">
              <h5 class="float-left">Review By : <span class="lead">{{data.review}}</span>,
                <a routerLink="/cat-single/{{data.category_id}}" (click)="close()" class="text-dark" style="font-weight:600;">{{data.category_name}}</a></h5>
              <button (click)="close()" class="close float-right">X</button>
            </div>
            <div class="description" style="clear:both;">
             <p style="white-space:pre-wrap;">{{data.description}}</p>
             <ul class="list-unstyled">
               <h5 class="text-center alert alert-danger" *ngIf="data.comments.length==0">
               No Comments Yet</h5>
               <h5 class="text-center alert alert-info" *ngIf="data.comments.length!=0">Comments</h5>
               <li *ngFor="let comment of data.comments;let i=index">
                <p class="">{{i+1}}. {{comment.text}}<br><span class="small">on {{comment.timestamp}}</span></p>
               </li>
             </ul>
           </div>
           <div class="p-4">
             <input type="text" placeholder="Leave a comment" class="form-control" id="commentData">
             <button (click)="addComment(data.Id)" class="btn mt-2" style="background-color:#10c694;color:white;">Submit</button>
           </div>
          </div>    
        </div>      
      </div>
    </div>
  </div>
</div>
<pagination-controls (pageChange)="p = $event" class="text-center"></pagination-controls>