<main style="padding:2% 48%;" *ngIf="loader">
  <div class="loader"></div>
</main>
<div class="row" *ngIf="!loader">
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pt-5" *ngFor="let post of categories">
  <div class="content rounded">
      <div class="content-overlay" style="opacity:1;"></div>
      <img class="content-image" src="https://images.unsplash.com/photo-1433360405326-e50f909805b3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=359e8e12304ffa04a38627a157fc3362">
      <div class="content-details" style="opacity:1;">
        <h3><a routerLink="/cat-single/{{post.id}}" class="text-light">#{{post.text}}</a></h3>
        <a class="btn btn-light follow-btn" style="color:black;"><i class="fa fa-plus"></i> Follow</a>
      </div>
  </div>
</div>
</div>