<main style="padding:2% 48%;" *ngIf="loader">
  <div class="loader"></div>
</main>
<div class="text-center mt-2" *ngIf="!loader">
  <h5>Filter By</h5>
  <button class="btn m-2" (click)="datePost()" style="background-color:#10c694;color:white;">
  Date Uploaded</button>
<!--   <button class="btn m-2" (click)="countPost()" style="background-color:#10c694;color:white;">
  View Count</button> -->
  <button class="btn m-2" (click)="ngOnInit()" style="background-color:#10c694;color:white;">
  Reset Filter</button>
</div>
<div class="row p-4" *ngIf="!loader">

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngFor="let post of feeds | paginate: {itemsPerPage:12,currentPage: p}" style="margin-top:2%;">
<div class="card text-center p-0 rounded-0">

  <div class="card-header text-left">
      <div>
      <img src="http://www.pikreview.com{{post.review_img}}" alt="" class="rounded-circle float-left mr-3" style="height:50px;width:50px;">
      <span class="lead small">@{{post.review_by.name}}</span>
      </div>
      <div> 

    <h5 class="card-title" style="text-transform:capitalize;font-weight:600;cursor:pointer;" (click)=feed_detail(post.postId)>   
    {{post.title}}
    </h5>
    </div>
  </div>
  <div class="card-body p-0">
    <img class="card-img-bottom" src="http://www.pikreview.com{{post.imageURL}}" alt="" style="height:300px;cursor:pointer;" (click)=feed_detail(post.postId)>
    <p class="card-text p-4">{{post.description.substring(0,200)}}</p>
  </div>
  <div class="card-footer text-muted">
    <span class="float-left"><i class="fa fa-eye"></i> {{post.views}}</span>
      <span class="float-right">
              <!--  <a href="{{post.additionalLinks.BLOG}}" target="_blank"><i class="fa fa-rss p-1" style="color:#ff6600;"></i></a>
              <a href="{{post.additionalLinks.FB}}" target="_blank"><i class="fa fa-facebook p-1" style="color:#3B5998;"></i></a>
              <a href="{{post.additionalLinks.IG}}" target="_blank"><i class="fa fa-instagram p-1" style="color:#f40083;"></i></a>
              <a href="{{post.additionalLinks.PIN}}" target="_blank"><i class="fa fa-pinterest p-1" style="color:#cb2027;"></i></a>
              <a href="{{post.additionalLinks.YT}}" target="_blank"><i class="fa fa-youtube p-1"
              style="color:#bb0000;"></i></a> -->
              <div class="dropup">
              <a data-toggle="dropdown"><i class="fa fa-share"> Share</i></a>
              <ul class="dropdown-menu">
               <li class="dropdown-item">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{post.additionalLinks.BLOG}}" class="btn" style="background-color:#3B5998;color:white;" target="_blank"><i class="fa fa-facebook" style="color:white;"></i> Facebook</a>
               </li>
               <li class="dropdown-item">
                <a href="https://twitter.com/intent/tweet?text={{post.title}} :%0A{{post.description}}" class="btn" style="background-color:#55ACEE;color:white;" target="_blank">
                  <i class="fa fa-twitter" style="color:white;"></i> Twitter</a>
               </li>
               <li class="dropdown-item">
               <a href="//pinterest.com/pin/create/link/?url={{post.additionalLinks.BLOG}}&media=http://www.pikreview.com{{post.review_img}}&description={{post.description}}" class="btn" style="background-color:#cb2027;color:white;" target="_blank">
                  <i class="fa fa-pinterest" style="color:white;"></i> Pinterest</a>
               </li>
              </ul>
              </div>
              </span>
  <div style="clear:both;" class="p-0 pt-4">
            <a href="" class="btn colorCommon btn-block" target="_blank" href="https://pikreview.com{{post.landingUrl}}">Buy Now</a>
  </div>
  </div>
</div>
</div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="example">
  <div class="modal-dialog" role="document" style="max-width:60%;">
    <div class="modal-content">
         <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <h3 style="font-weight:600;margin-bottom:4%;">{{feedData.title}}</h3>
                          <div id="demo" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner">

    <div class="carousel-item" *ngFor="let img of images let i = index" [ngClass]="{'active' : i == 0}">
      <img src="http://pikreview.com{{img.pikUrl}}" alt="" style="width:100%;height:345px;">
    </div>
  
  </div>
  
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span><i class="fa fa-angle-left fa-2x" style="font-size:2em;"></i></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span><i class="fa fa-angle-right" style="font-size:2em;"></i></span>
  </a>
</div>
             <div class="pt-4">
              <span class="float-left"><i class="fa fa-eye"></i> {{feedData.view_count}}</span>
              <span class="float-right">
              <a href="{{feedData.blog}}" target="_blank"><i class="fa fa-rss p-1" style="color:#ff6600;"></i></a>
              <a href="{{feedData.fb}}" target="_blank"><i class="fa fa-facebook p-1" style="color:#3B5998;"></i></a>
              <a href="{{feedData.ig}}" target="_blank"><i class="fa fa-instagram p-1" style="color:#f40083;"></i></a>
              <a href="{{feedData.pin}}" target="_blank"><i class="fa fa-pinterest p-1" style="color:#cb2027;"></i></a>
              <a href="{{feedData.yt}}" target="_blank"><i class="fa fa-youtube p-1" style="color:#bb0000;"></i></a>
              </span>
            </div>
            <div style="clear:both;" class="p-0 pt-3">
              <div class="dropup pb-3">
              <a data-toggle="dropdown"><i class="fa fa-share"> Share</i></a>
              <ul class="dropdown-menu">
               <li class="dropdown-item">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{feedData.BLOG}}" class="btn" style="background-color:#3B5998;color:white;" target="_blank"><i class="fa fa-facebook" style="color:white;"></i> Facebook</a>
               </li>
               <li class="dropdown-item">
                <a href="https://twitter.com/intent/tweet?text={{feedData.title}} :%0A{{feedData.description}}" class="btn" style="background-color:#55ACEE;color:white;" target="_blank">
                  <i class="fa fa-twitter" style="color:white;"></i> Twitter</a>
               </li>
               <li class="dropdown-item">
               <a href="//pinterest.com/pin/create/link/?url={{feedData.BLOG}}
               &media=http://www.pikreview.com{{feedData.review_img}}&description={{feedData.description}}" class="btn" style="background-color:#cb2027;color:white;" target="_blank">
                  <i class="fa fa-pinterest" style="color:white;"></i> Pinterest</a>
               </li>
            </ul>
              </div>
            <a href="" class="btn colorCommon btn-block" target="_blank" href="https://pikreview.com{{feedData.landingUrl}}">Buy Now</a>
          </div>
          </div>
          <div class="col-md-6" *ngIf="modalShow">
            <div class="pb-5">
              <h5 class="float-left">Review By : <span class="lead">{{feedData.review}}</span>,
              <a routerLink="/cat-single/{{feedData.category_id}}" (click)="close()" class="text-dark" style="font-weight:600;">{{feedData.category_name}}</a></h5>
              <button (click)="close()" class="close float-right">X</button>
            </div>
            <div class="description" style="clear:both;">
             <p style="white-space:pre-wrap;">{{feedData.description}}</p>
             <ul class="list-unstyled">
               <h5 class="text-center alert alert-danger" *ngIf="feedData.comments.length==0">
               No Comments Yet</h5>
               <h5 class="text-center alert alert-info" *ngIf="feedData.comments.length!=0">Comments</h5>
               <li *ngFor="let comment of feedData.comments;let i=index">
                <p class="">{{i+1}}. {{comment.text}}<br><span class="small">on {{comment.timestamp}}</span></p>
               </li>
             </ul>
           </div>
           <div class="p-4">
             <input type="text" placeholder="Leave a comment" class="form-control" id="commentData">
             <button (click)="addComment(feedData.Id)" class="btn mt-2" style="background-color:#10c694;color:white;">Submit</button>
           </div>
          </div>
          
        </div>      
      </div>
    </div>
  </div>
</div>
<pagination-controls (pageChange)="p = $event" class="text-center"></pagination-controls>