<div>
<nav class="navbar navbar-expand-md bg-white navbar-light p-3">
  <!-- Brand -->
  <a class="navbar-brand" routerLink="/">PikReview</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/category">Categories</a>
      </li>
    </ul>
    <form class="form-inline">
              <input class="form-control mr-sm-2 search-input" type="text" placeholder="I am looking for...." name="search" id="search" (keyup)="onKey($event)" #myInput> 
               {{ myInput.focus() }}
    </form>
     
     <ul class="navbar-nav">
      <li class="nav-item fb">
      <a class="nav-link" href="http://www.facebook.com/Pikreview" target="_blank"><img src="../../../../assets/images/facebook.png" alt=""></a>
    </li>
    <li class="nav-item insta">
    <a class="nav-link" href="http://www.instagram.com/pikreview_official/" target="_blank"><img src="../../../../assets/images/instagram.png" alt=""></a>
   </li>
      <li class="nav-item">
        <a routerLink="/feed" class="nav-link">Feed</a>
      </li>
      <li class="nav-item">
        <a routerLink="/upload" class="nav-link">Upload</a>
      </li>
       <li class="nav-item">
        <a routerLink="/login" class="nav-link text-nowrap">Sign In</a>
      </li>
    </ul>
  </div>
</nav> 
<div class="text-center">
  <p class="alert mb-0" style="background-color:#10c694;border-radius:0px;color:white;">
    
PikReview is an online product discovery and review sharing platform, here what you see is what you get!
See real reviews Shop genuine products and Share your PikReviews.

  </p>
 
</div>
</div>

<main style="padding:2% 48%;" *ngIf="loader">
  <div class="loader"></div>
</main>

<div class="row p-4" *ngIf="!loader">
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngFor="let post of products | paginate: {itemsPerPage:12,currentPage: p}" style="margin-top:2%;">
<div class="card text-center p-0 rounded-0">

  <div class="card-header text-left">
      <div>
      <img src="http://www.pikreview.com{{post.review_img}}" alt="" class="rounded-circle float-left mr-3" style="height:50px;width:50px;">
      <span class="lead small">@{{post.review_by.name}}</span>
      </div>
      <div> 

    <h5 class="card-title" style="text-transform:capitalize;font-weight:600;cursor:pointer;" (click)=search_detail(post.postId)>   
    {{post.title}}
    </h5>
    </div>
  </div>
  <div class="card-body p-0">
    <img class="card-img-bottom" src="http://www.pikreview.com{{post.imageURL}}" alt="" style="height:300px;cursor:pointer;" (click)=search_detail(post.postId)>
    <p class="card-text p-4">{{post.description.substring(0,200)}}</p>
  </div>
  <div class="card-footer text-muted">
   <span class="float-left"><i class="fa fa-eye"></i> {{post.views}}</span>
    <span class="float-right">
               <!--  <a href="{{post.additionalLinks.BLOG}}" target="_blank"><i class="fa fa-rss p-1" style="color:#ff6600;"></i></a>
              <a href="{{post.additionalLinks.FB}}" target="_blank"><i class="fa fa-facebook p-1" style="color:#3B5998;"></i></a>
              <a href="{{post.additionalLinks.IG}}" target="_blank"><i class="fa fa-instagram p-1" style="color:#f40083;"></i></a>
              <a href="{{post.additionalLinks.PIN}}" target="_blank"><i class="fa fa-pinterest p-1" style="color:#cb2027;"></i></a>
              <a href="{{post.additionalLinks.YT}}" target="_blank"><i class="fa fa-youtube p-1"
              style="color:#bb0000;"></i></a> -->
              <div class="dropup">
              <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share"> Share</i></a>
              <ul class="dropdown-menu">
               <li class="dropdown-item">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{post.additionalLinks.BLOG}}" class="btn" style="background-color:#3B5998;color:white;" target="_blank"><i class="fa fa-facebook" style="color:white;"></i> Facebook</a>
               </li>
               <li class="dropdown-item">
                <a href="https://twitter.com/intent/tweet?text={{post.title}} :%0A{{post.description}}" class="btn" style="background-color:#55ACEE;color:white;" target="_blank">
                  <i class="fa fa-twitter" style="color:white;"></i> Twitter</a>
               </li>
               <li class="dropdown-item">
               <a href="//pinterest.com/pin/create/link/?url={{post.additionalLinks.BLOG}}
               &media=http://www.pikreview.com{{post.review_img}}&description={{post.description}}" class="btn" style="background-color:#cb2027;color:white;" target="_blank">
                  <i class="fa fa-pinterest" style="color:white;"></i> Pinterest</a>
               </li>
              </ul>
              </div>
              </span>
  <div style="clear:both;" class="p-0 pt-4">
            <a href="" class="btn colorCommon btn-block" target="_blank" href="https://pikreview.com{{post.landingUrl}}">Buy Now</a>
  </div>
  </div>
</div>
</div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="example">
  <div class="modal-dialog" role="document" style="max-width:60%;">
    <div class="modal-content">
         <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <h3 style="font-weight:600;margin-bottom:4%;">{{searchanswer.title}}</h3>
               <div id="demo" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner">

    <div class="carousel-item" *ngFor="let img of images let i = index" [ngClass]="{'active' : i == 0}">
      <img src="http://pikreview.com{{img.pikUrl}}" alt="" style="width:100%;height:345px;">
    </div>
  
  </div>
  
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span><i class="fa fa-angle-left fa-2x" style="font-size:2em;"></i></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span><i class="fa fa-angle-right" style="font-size:2em;"></i></span>
  </a>
</div>
             <div class="pt-4">
              <span class="float-left"><i class="fa fa-eye"></i> {{searchanswer.view_count}}</span>
              <span class="float-right">
              <a href="{{searchanswer.blog}}" target="_blank"><i class="fa fa-rss p-1" style="color:#ff6600;"></i></a>
              <a href="{{searchanswer.fb}}" target="_blank"><i class="fa fa-facebook p-1" style="color:#3B5998;"></i></a>
              <a href="{{searchanswer.ig}}" target="_blank"><i class="fa fa-instagram p-1" style="color:#f40083;"></i></a>
              <a href="{{searchanswer.pin}}" target="_blank"><i class="fa fa-pinterest p-1" style="color:#cb2027;"></i></a>
              <a href="{{searchanswer.yt}}" target="_blank"><i class="fa fa-youtube p-1" style="color:#bb0000;"></i></a>
              </span>
            </div>
              <div style="clear:both;" class="p-0 pt-3">
              <div class="dropup pb-3">
              <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share"> Share</i></a>
              <ul class="dropdown-menu">
               <li class="dropdown-item">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{searchanswer.BLOG}}" class="btn" style="background-color:#3B5998;color:white;" target="_blank"><i class="fa fa-facebook" style="color:white;"></i> Facebook</a>
               </li>
               <li class="dropdown-item">
                <a href="https://twitter.com/intent/tweet?text={{searchanswer.title}} :%0A{{searchanswer.description}}" class="btn" style="background-color:#55ACEE;color:white;" target="_blank">
                  <i class="fa fa-twitter" style="color:white;"></i> Twitter</a>
               </li>
               <li class="dropdown-item">
               <a href="//pinterest.com/pin/create/link/?url={{searchanswer.BLOG}}
               &media=http://www.pikreview.com{{searchanswer.review_img}}&description={{searchanswer.description}}" class="btn" style="background-color:#cb2027;color:white;" target="_blank">
                  <i class="fa fa-pinterest" style="color:white;"></i> Pinterest</a>
               </li>
            </ul>
              </div>
            <a href="" class="btn colorCommon btn-block" target="_blank" href="https://pikreview.com{{searchanswer.landingUrl}}">Buy Now</a>
          </div>

          </div>
          <div class="col-md-6">
            <div class="pb-5">
              <h5 class="float-left">Review By : <span class="lead">{{searchanswer.review}}</span>,
                <a routerLink="/cat-single/{{searchanswer.category_id}}" (click)="close()" class="text-dark" style="font-weight:600;" *ngIf="modalShow">
                {{searchanswer.category_name}}</a></h5> 
              <button (click)="close()" class="close float-right">X</button>
            </div>
            <div class="description" style="clear:both;">
             <p style="white-space:pre-wrap;">{{searchanswer.description}}</p>
             <ul class="list-unstyled" *ngIf="modalShow">
               <h5 class="text-center alert alert-danger" *ngIf="searchanswer.comments.length==0">
               No Comments Yet</h5>
               <h5 class="text-center alert alert-info" *ngIf="searchanswer.comments.length!=0">Comments</h5>
               <li *ngFor="let comment of searchanswer.comments;let i=index">
                <p class="">{{i+1}}. {{comment.text}}<br><span class="small">on {{comment.timestamp}}</span></p>
               </li>
             </ul>
           </div>
           <div class="p-4">
             <input type="text" placeholder="Leave a comment" class="form-control" id="commentData">
             <button (click)="addComment(searchanswer.Id)" class="btn mt-2" style="background-color:#10c694;color:white;">Submit</button>
           </div>
          </div>
          
        </div>      
      </div>
    </div>
  </div>
</div>
<pagination-controls (pageChange)="p = $event" class="text-center"></pagination-controls>